@font-face {
    font-family: 'FOT-RodinBokutoh';
    src: url('https://moonpr1sm.neocities.org/animalcrossing/images/cherrystand/FOT-RodinBokutoh%20Pro%20EB.otf');
}



*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;


}

body,
html {

    font-family: 'FOT-RodinBokutoh', Arial, sans-serif;
    background-color: #faf0e6;
    color: #5a404e;
    display: flex;


}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Header + Nav Stuff */
#header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 113, 103, 0.8);
    width: 100%;
    height: auto;

    font-weight: bold;
    font-size: larger;
    z-index: 1000;
}

#header img {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

nav ul {
    padding: 10px;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 10px;

}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

a:hover {
    color: #fff;
}

h1 {
    text-align: center;
    font-sizw: 2em;
    color: #000;
}

h2 {
    text-align: center;
    font-sizw: 1.5em;
    color: #000;
}

p {
    font-size: 1em;
    text-align: left;
    width: 400px;
    display: block;
    margin: 0 auto;
}

section {
    padding-top: 120px;
    margin-top: -120px;
}


/* The Cherry Stand Section */
#video {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}


#map1,
#map2 {
    width: 400px;

    padding: 10px;
    display: block;
    margin: 0 auto;
}

#map1 img,
#map2 img {
    width: 100%;
    height: auto;
}

#img-caption1,
#img-caption2 {
    font-size: 14px;
    text-align: center;
}

/* About The Cherries */
#MOONPRISMs-cherries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}



/* The Menu Section */
#our-menu {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu-item img {
    width: 200px;
    height: auto;

}

.menu-item-description {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-item-name,
.price {
    margin: 0;
    padding: 0;
}

.price img {
    width: 20px;
    margin-right: 5px;
}

@keyframes shake {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

.menu-item img:hover {
    animation: shake 1s infinite ease-in-out;
}

/* Footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #ff7167;
    color: #5a404e;
    border: 1px solid #5a404e;
    border-radius: 8px;
    margin: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

#form label {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

#form input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: lightgray;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        font-size: 16px;
    }

    #video {
        width: 90%;
    }

    #map1,
    #map2 {
        width: 90%;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 14px;
    }

    #video {
        width: 95%;
    }

    #map1,
    #map2,
    #video {
        width: 95%;
    }

    p,
    #img-caption1,
    #img-caption2 {
        font-size: 12px;
    }

    .menu-item,
    .menu-item-description {
        align-items: center;
        text-align: center;
    }

    .menu-item img {
        width: 80%;
        max-width: 150px;
    }

    .price img {
        width: 20px;
        margin-right: 5px;
    }
}