@font-face {
    font-family: IBM Plex Mono;
    src: url('https://moonpr1sm.neocities.org/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
}

@font-face {
    font-family: ChiKareGo;
    src: url('https://moonpr1sm.neocities.org/fonts/ChiKareGo.ttf');
}



body {
    background-color: #ab8cff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: left;
}

.content-container {
    background-color: #FFF;
    width: 80%;
    max-width: 800px;
    padding: 2% 5%;
    margin: 2% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
    margin: 0 auto;

}

h1 {
    font-family: 'ChiKareGo', monospace;
    font-size: 2.95em;

}

h2 {
    font-family: 'ChiKareGo', monospace;
    font-size: 2.55em;

}

h3 {
    font-family: 'ChiKareGo', monospace;
    font-size: 1.55em;
}


p {
    margin-bottom: 1em;
    background-color: #FFF;


}

p,
figcaption,
h3 {
    margin-bottom: 1em;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



ul,
ol {


    text-align: left;
    background-color: #FFF;
    border: 2px #000 dashed;
    list-style-type: none
}


#img-div {
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}



#villagers ul {
    display: block;
    text-align: left;
    padding: 3px;
    margin: 0 auto;
    max-width: 600px;
}

@media (max-width: 768px) {
    .content-container {
        width: 100%;
        padding: 5% 0;
        margin: 0 auto;
        box-shadow: none;
    }

    body {
        background-image: none;

        background-color: #fff;
    }
}

#tribute-info {
    font-size: smaller;
}